.tgl {
    display: none;
    /* // add default box-sizing for this scope */
    &,
    &:after,
    &:before,
    & *,
    & *:after,
    & *:before,
    & + .tgl-btn {
      box-sizing: border-box;
      text-align: center;
      /* &::selection {
        background: none;
      } */
    }
  
  
    + .tgl-btn {
        height: 2.5rem;
        outline: 0;
        display: block;
        /* width: 20vw; */
        /* height: 2em; */
        position: relative;
        cursor: pointer;
        user-select: none;
        &:after,
        &:before {
            position: relative;
            display: block;
            content: "";
            /* width: 100%; */
            /* height: 10%; */
        }
  
      &:after {
        left: 0;
      }
  
      &:before {
        display: none;
      }
    }
  
    &:checked + .tgl-btn:after {
      left: 0;
    }
  }
  
  .tgl-skewed {
    + .tgl-btn {
      overflow: hidden;
      /* transform: skew(-10deg); */
      backface-visibility: hidden;
      transition: all 0.4s ease;
      /* font-family: sans-serif; */
      background: var(--clr-3);
      &:after,
      &:before {
        /* transform: skew(10deg); */
        display: inline-block;
        transition: all 0.4s ease;
        width: 40%;
       
        
        line-height: 2.5em;
        font-weight: bold;
        color: #fff;
        /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); */
      }
  
      &:after {
        left:100%;
        content: attr(data-tg-on);
      }
  
      &:before {
        left: 0;
        content: attr(data-tg-off);
      }
  
      &:active {
        background: #888;
        &:before {
          left: 0;
        }
      }
    }
  
    &:checked + .tgl-btn {
      background: #bb0000;
      &:before {
        left: -100%;
      }
  
      &:after {
        left: -40%;
      }
  
      &:active:after {
        left: 50%;
      }
    }
  }
  